<ion-card *ngIf="!authService.isEmailVerified">
  <p class="txt2 uk-text-center" color="danger" >Please verify your email to continue or <a (click)="authService.SendVerificationMail()">
      resend
  </a> email.</p>
  <ion-button (click)="authService.SendVerificationMail()" expand="block" shape="round">
    Resend Email
  </ion-button>
  <img src="assets/vectors/emailVerify.png" alt="">
</ion-card>
<ion-card *ngIf="authService.isEmailVerified">
  <p class="txt2 uk-text-center" color="danger" >Email verified. Move to <a href="./">
      Home
  </a></p>
  <ion-button href="./" expand="block" shape="round">
    Move to home
  </ion-button>
  <img src="assets/vectors/emailVerify.png" alt="">
</ion-card>