ion-content{
    --background: #bd4f6c;
    --background:linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);
}
ion-card{
    width:min-content;
    padding: 20px 20px;
    min-width: 500px;
    min-height: 500px;
    max-height: 60vh;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
ion-input{
    --background:var(--ion-color-light);
    background:var(--ion-color-light);
}
form{
    margin-top: 100px;
}
form > *{
    margin-top: 50px;
}
ion-button{
    width:60%;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}
@media (prefers-color-scheme:dark){
    ion-content{
        --background: #537895;
        --background: linear-gradient(315deg, #537895 0%, #09203f 74%);
    }
    
}
#overlay{
    // display: none;
    position: absolute;
    top:0%;
    left:0%;
    width: 100vw;
    height:100vh;
    overflow: hidden;
    z-index: 1;
}
#overlay > *{
    position: relative;
    top:50%;
    left:50%;
    width: 100px;
    height:100px;
    transform: translate(-50%,-50%);
}
@media (prefers-color-scheme:dark){
    #overlay{
        background-color: #07172cbd;
    }
}
@media (prefers-color-scheme:light){
    #overlay{
        background-color: #bd4f6c9a;
    }
}
// ion-card{
//     filter: blur(10px);
// }