ion-list{
    --width:400px;
    height:auto;
    overflow-y: auto;
}
#title{
    font-size: 15px;
}
#text{
    font-size:12px;
}
img{
    vertical-align: middle;
}
ion-card{
    overflow-y: auto;
    max-height: 500px;
    padding: 0% !important;
    margin: 0% !important;
}
ion-list-header{
    position: fixed;
}

