<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" class="ionMenu">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-avatar>
            <img [src]="authService.getUserPhoto()" alt="User">
          </ion-avatar>
          <ion-list-header>{{authService.getUserName()}}</ion-list-header>
          <ion-note>{{authService.getUserEmail()}}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>
          <ion-item>
            <ion-searchbar 
            showCancelButton="focus" 
            cancelButtonText="Custom Cancel"
            debounce="500"
            animated
            placeholder="Search Anything"
            id="search"
            (ionChange)="autocomplete()"
            ></ion-searchbar>
            <ion-list class="results" *ngIf="searchResultsFound">
              <ion-item *ngFor="let result of searchResults" href="{{result.location}}">{{result.name}}</ion-item>
            </ion-list>
            <ion-list class="results" *ngIf="noSearchResultFound">
              <ion-item>No search results found.</ion-item>
            </ion-list>
          </ion-item>
          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-button (click)="authService.SignOut()" color="danger">Log Out</ion-button>
        </ion-item>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
