<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-avatar>
      <img [src]="authService.getUserPhoto()" />
    </ion-avatar>
    <div class=" uk-align-center uk-width-1-2">
      <ion-list class="uk-margin">
        <ion-item>
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>&nbsp;&nbsp;&nbsp;{{authService.getUserName()}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="mail"></ion-icon>
          <ion-label>&nbsp;&nbsp;&nbsp;{{authService.getUserEmail()}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="people"></ion-icon>
          <ion-label>&nbsp;&nbsp;&nbsp;Teams: 
            <ion-chip color="success">@developer</ion-chip>
            <ion-chip color="danger">@web master</ion-chip>
          </ion-label>
        </ion-item>
        
      </ion-list>
    </div>
  </ion-card>
</ion-content>
